	#storage{
	  min-height: 90vh;
	  margin: 0% 17% 0 17%;
	}
	#storage div{
	  padding-top: 5%;
	}
	.active{
	  background-color: lightpink;
	}
	#head a:hover{
	  background-color: lightpink;
	}
	#head{
	  Background-color: purple;
	  height: 7vh;
	}
	#head a{
	  display: inline-block;
	  color: white;
	  height: 100%;
	  padding: 0px  0px;
	  width: 18%;
	  text-align: center;
	  text-decoration: none;
	  display: inline-block;
	}
	#search{
	  width: 94%;
	  padding: 15px 25px;
	  margin: 10px 0;
	  display: inline-block;
	  border: 2px solid black;
	  border-radius: 6px;
	}
	table {
	  border-collapse: collapse;
	  table-layout: auto;
	  width: 100%;
	}
	table, th, td {
	  border: 2px solid black;
	}
	th, td {
	  height: 45px;
	}
	tr:nth-child(even) {
	  background-color: silver;
	}
	#head img{
	  vertical-align: top;
	  height: 100%;
	  width: 10%;
	}
	button{
	  background-color: purple;
	  border: 1px;
	  color: white;
	  padding: 17px 35px;
	  text-align: center;
	  text-decoration: none;
	  display: inline-block;
	  font-size: 15px;
	  margin: 5px 5px 25px 5px;
	  cursor: pointer;
	}
	button:hover{
	  background-color: lightpink;
	}
	td button{
	  padding: 6px 25px;
	}
	label{
	  display: inline-block;
	  width: 200px;
	}
	#foot{
	  text-align: center;
	  color: white;
	  background-color: purple;
	  height: 5vh;
	}